@model ContinentalTestDb.Models.Production_Plan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Production_Plan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.LabelReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
