@model IEnumerable<Models.ContinentalModels.Request>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Worker.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device)
            </td>
        </tr>
}
    </tbody>
</table>
